
body{
width: 1020px;
margin:auto;
}


header{

border-bottom: 6px solid #323746;;
width: 1020px;
height: 89px;
background-color: #2d303a
}
.wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin:auto;
}

.navigation{
    flex-direction: row;
    margin: 0px;
    display:flex;
    justify-content: space-between;
    text-align: justifyLeft;
    font-size: 8.657px;
}

.nav{
    font-weight: bold;
    list-style-type: none;
    height:150px;
}

.phone{
    background-color: rgb(240, 108, 100);
    left: 0px;
    top: 89px;
    width: 1020px;
    height: 600px;
}

h2{
    margin: 0;
    left: 105.645px;
    top: 770.221px;
}
.our-services {
    background-color: rgb(242, 242, 242);
    left: 10px;
    top: 691px;
    width: 1020px;
    height: 496px;
}

.iPhone_vertical{
    margin-top: 53px;
    margin-left: 112px;
    vertical-align: middle;

}
.iPhone_horizontal{
    vertical-align: middle;
    margin-left: 70px;
    margin-top: 53px;
}
